.login--container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login--wrapper {
  display: flex;
  width: 450px;
  padding: 58px 28px 36px 28px;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  background: var(--light-background-paper, #FFF);

  /* Light/Elevation/Card */
  box-shadow: 0px 2px 10px 0px rgba(58, 53, 65, 0.10);
}

form {
  width: 100%;
}